<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Box</title>
    <link rel="stylesheet" href="../main.css">
  </head>
  <body>
    {{msg}}
    <button href="/sign-in/sign-up" type="button" name="button">Sign Up</button>
    <button href="/sign-in/log-in" type="button" name="button">Log In</button>


  </body>
</html>
