<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Box</title>
    <link rel="stylesheet" href="/public/main.css">
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    <header>
      <nav>
        <div class="bigh1">
          <h1>MUSIC BOX!</h1>
        </div>
        <div class="">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </nav>
    </header>
    {{msg}}

    <a href="/sign-in"><button type="button" name="button">Sign Up</button></a>
    <a href="/log-in"><button type="button" name="button">Log In</button></a>


  </body>
</html>
