<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Box Profile</title>
    <link rel="stylesheet" href="../main.css">
  </head>
  <body>
    <a href="/">Log Out</a>
    <h1>Welcome Home</h1>
    {{msg}}



  </body>
</html>
