<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../main.css">
  </head>
  <body>
    <h1>{{title}}</h1>
    <form class="" action="/profile" method="post">
      <label for="">Username</label>
      <input type="text" name="username" value="">
      <label for="">Password</label>
      <input type="text" name="password" value="">
      <label for="">First Name</label>
      <input type="text" name="first_name" value="">
      <label for="">Last Name</label>
      <input type="text" name="last_name" value="">
      <button type="submit"></button>
    </form>




  </body>
</html>
